footer
{
    background-color: #f8f9fa; /* Optional: Light background for footer */
    position: relative;
    bottom: 0;
    width: 100%;
}

.Box
{
    width: 100px;
    height: 100px;
    color: red;
    border: 2px solid black;
    margin-top:10px;
    border-radius: 25px;
}

.Box:hover
{
    background-color: blue;
    cursor: pointer;
}

.info
{
    font-size: 18px;
}

.query
{
    font-size: 18px;
}

.inactive-button {
  pointer-events: none; /* Prevent clicks */
  opacity: 0.5; /* Make it look disabled */
}

#retry
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.retry-area
{
    cursor: pointer;
    margin-left: -2em !important;
}

.disable-click
{
    pointer-events: none;
}

.enable-click
{
    pointer-events: auto;
}

.level
{
    font-weight: normal;
}

.mr-auto
{
    margin-right: 0 !important;
}

